{% extends "::base.html.twig" %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ueoprojet/css/bootstrap.min.css') }}" type="text/css" media="all" />
{% endblock %}

{% block menu %}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Inscription pédagogique</a>
            <ul class="nav">
            <br>
            <li><a href="{{ path('etudiant') }}">Etudiant</a></li>
            <li><a href="{{ path('parcours') }}">Parcours</a></li>
            <li><a href="{{ path('module') }}">Module</a></li>
            <li><a href="{{ path('specialite') }}">Speciliate</a></li>
            
           
            </ul>
        </div>
    </div>
        
{% endblock %} 

{% block body %}
       
        
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/ueoprojet/js/bootstrap.min.js') }}"></script>
{% endblock %}