{% extends "UEOChoixBundle::layout.html.twig" %}
{% block title %}Gestion des spécialites{% endblock %}

{% block body -%}
    <h2>Gestion des specialites</h2>
    <a  class="FR btn btn-primary btn-sm btn-success" href="{{ path('specialite_new') }}">Ajouter une nouvelle spécialité</a>
       
    <table class="table table-condensed table-hover" style="background : #FFF; margin-top:15px;">
        <thead>
            <tr class="active">
                <!--<th>Id</th>-->
                <th>Intitule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <!--<td><a href="{{ path('specialite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
                <td>{{ entity.intitule }}</td>
                <td>
                <ul>
                <a class="icon-search" href="{{ path('specialite_show', { 'id': entity.id }) }}" title="Voir plus d'informations sur cet étudiant"> </a>
                <a class="icon-edit"href="{{ path('specialite_edit', { 'id': entity.id }) }}"> </a>
                <a class="icon-trash" href="{{ path('specialite_supprimer', { 'id': entity.id }) }}"> </a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
