{% extends "UEOChoixBundle::layout.html.twig" %}
{% block title %}Gestion des etudiants{% endblock %}

{% block body -%}
    <h2>Gestion des étudiants</h2>
    <p>
    <a class="FR btn btn-primary btn-sm btn-success" href="{{ path('etudiant_new') }}">Ajouter un nouvel etudiant</a>
     <a class="FR btn btn-primary btn-sm btn-success" href="#">Télécharger la liste des étduaints</a>
    </p>

    <table class="table table-condensed table-hover" style="background : #FFF; margin-top:15px;">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Nom</th>
                <th>Prenom</th>
                <th>Année</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <!--<td><a href="{{ path('etudiant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.getParcours().intitule }}</td>
                <td>{{ entity.email }}</td>
                <td>
                <ul>
                    <a class="icon-search" href="{{ path('etudiant_show', { 'id': entity.id }) }}"> </a>
                    <a class="icon-edit" title="Modifier" href="{{ path('etudiant_edit', { 'id': entity.id }) }}"> </a>
                    <a class="icon-trash" title="Supprimer cet étudiant" href="{{ path('etudiant_supprimer', { 'id': entity.id }) }}"></a>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
