{% extends "UEOChoixBundle::layout.html.twig" %}
{% block title %}Gestion des etudiants{% endblock %}

{% block body -%}
    <h1>Etudiant</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ entity.getParcours().intitule }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            
                
        </tbody>
    </table>

        <ul class="nav">
    <li>
        <a href="{{ path('etudiant') }}">
            Liste des étudiants
        </a>
    </li>
    <li>
        <a href="{{ path('etudiant_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
